{{ block "login-form" . }}
  <form
    class="bw-AuthLayoutForm"
    action="/login"
    hx-boost="true"
    method="post"
    hx-target="this"
    hx-swap="outerHTML">
    <div class="bw-FormControlGroup">
      <div class="bw-FormControlRoot">
        <label class="bw-FormControlLabel" for="username">Username</label>
        <div class="bw-TextFieldRoot">
          <input
            class="bw-TextFieldInput"
            type="text"
            id="username"
            name="username"
            value="{{ .FormData.username }}"
            {{ if
              .Errors.username
            }}
              aria-describedby="username-error"
            {{ end }}
            autocomplete="username" />
        </div>
        {{ if .Errors.username }}
          <div
            id="username-error"
            class="bw-FormControlErrorMessage"
            aria-live="polite"
            class="error">
            {{ range .Errors.username }}{{ . }}<br />{{ end }}
          </div>
        {{ end }}
      </div>
      {{ template "password-input" .PasswordInput }}
      {{ if .Errors.password }}
        <div
          id="password-error"
          class="bw-FormControlErrorMessage"
          aria-live="polite"
          class="error">
          {{ range .Errors.password }}{{ . }}<br />{{ end }}
        </div>
      {{ end }}
    </div>

    <button
      aria-label="Submit form"
      class="bw-Button bw-variant-primary bw-size-2"
      type="submit">
      Login
    </button>
  </form>
{{ end }}
