{{ define "password-input" - }}
  {{ $id := .ID }}
  {{ $name := .Name }}
  {{ $label := .Label }}
  {{ $errors := .Errors }}
  {{ $autocomplete := .Autocomplete }}
  {{ $value := .Value }}


  <div class="bw-FormControlRoot">
    <toggle-password>
      <label class="bw-FormControlLabel" for="{{ $id }}">{{ $label }}</label>
      <div class="bw-TextFieldRoot">
        <input
          required
          aria-required="true"
          class="bw-TextFieldInput"
          {{ if $errors }}
            aria-describedby="{{ $id }}-error"
          {{ end }}
          id="{{ $id }}"
          name="{{ $name }}"
          type="password"
          autocomplete="{{ $autocomplete }}"
          value="{{ $value }}"
          autocapitalize="none"
          spellcheck="false" />

        <div class="bw-TextFieldAddornment">
          <button
            aria-controls="{{ $id }}"
            class="bw-Button bw-variant-ghost bw-size-1"
            toggle
            hidden>
            <span aria-label="Show password" is-hidden>Show</span>
            <span aria-label="Hide password" is-visible>Hide</span>
          </button>
        </div>
      </div>
      {{ if $errors }}
        <div
          id="{{ $id }}-error"
          class="bw-FormControlErrorMessage"
          aria-live="polite"
          class="error">
          {{ range $errors }}{{ . }}<br />{{ end }}
        </div>
      {{ end }}
    </toggle-password>
  </div>
{{ end }}
