{{define "title"}} Home {{end}} {{define "main"}}
<div>
  <!-- This is just for fun. Of course I wouldn't ship this to prod! -->
  <h1 class="bw-sr-only">Kia Storm's Digi2al Challenge Submission</h1>
  <marquee
    bgcolor="black"
    style="color: white; font-weight: medium"
    aria-hidden="true"
    scrolldelay="50"
    truespeed
    >Kia Storm's Digi2al Challenge Submission</marquee
  >

  <marquee aria-hidden="true" scrolldelay="40" truespeed direction="right"
    >Kia Storm's Digi2al Challenge Submission</marquee
  >
  <marquee
    aria-hidden="true"
    scrolldelay="75"
    truespeed
    style="
      letter-spacing: -0.05em;
      font-weight: 700;
      font-family: var(--serif-font-family);
      text-transform: uppercase;
    "
    >Kia Storm's Digi2al Challenge Submission</marquee
  >
  <marquee
    aria-hidden="true"
    scrolldelay="30"
    behavior="alternate"
    truespeed
    direction="right"
    >Kia Storm's Digi2al Challenge Submission</marquee
  >
</div>
{{end}}
