.bw-AppLayoutRoot {
  background-image: radial-gradient(circle, var(--indigo-2), var(--indigo-1));
}

.bw-AppLayoutTitle,
.bw-AppLayoutHelperMessage,
.bw-AppLayoutHeader {
  text-align: center;
}

.bw-AppLayoutHeaderContainer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bw-AppLayoutForm {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--indigo-1);
  border-radius: 8px;
  border: 1px solid var(--gray-5);
}

.bw-UserActionsRoot {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
}

.bw-UserActionsUsername {
  font-family: var(--sans-font-family);
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: var(--gray-12);
}
